* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  padding: 1rem;
}

.slide-wrapper .wide {
  max-width: 80rem;
}

.slides {
  color: #5a5a5a;
  border: 0.1rem solid #fff;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 15px 7px #e5e5e5;
}

.slides:hover {
  color: black;
}

.slides i {
  display: none;
}

.slides:hover i {
  display: inline;
}

.header-title {
  font-size: 3.6rem;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
}

.slide {
  cursor: pointer;
}

.slide-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 6rem;
  overflow: hidden;
  transition: height 0.5s, transform 0.5s;
  border-bottom: 1px solid #dfdfdf;
}

/* input:checked + .slide-wrapper {
  background-color: bisque;
}

.slide-wrapper:hover {
  background-color: cornflowerblue;
} */

.slide-wrapper i {
  transform: rotate(135deg);
  transition: transform 0.5s;
}

input:checked + .slide-wrapper i,
.slide-wrapper:hover i {
  transform: rotate(0deg);
}

.slide-wrapper img {
  max-width: 40rem;
  max-height: 40rem;
  height: 100%;
  align-self: center;
}

input:checked + .slide-wrapper,
.slide-wrapper:hover {
  height: 50rem;
}

.slide-wrapper div {
  font-size: 2rem;
  padding: 2rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
